@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root {
  --primary-white: #fff;
  --primary-lightBlue: #add8e6;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-hover-blue: #1c5466;
  --primary-hover-brown: #654321;
  --primary-black: rgba(0, 0, 0, 0.959);
}

body {
font-family: "Roboto Condensed", sans-serif !important
}
/*...Nav bar...*/
nav {
  z-index: 2;
}
.logo {
  width: 10rem;
  margin-top: 0.75rem;
  align-items: center;
}

/*...bar link style...*/
.nav-link {
  font-weight: 500;
  letter-spacing: 0.0575rem;
  cursor: pointer;
}
/*...sets the nav letter to uppercase...*/
nav ul li {
  text-transform: uppercase;
}
.navbar-nav > li > a {
  margin-right: 1rem;
  margin-left: 1rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}
.navbar-Portfolio-Logo {
  max-width: 12.25rem;
  padding: 0 !important;
  height: 4.5rem;
}
@media (max-width: 760px) {
  .navbar-Portfolio-Logo {
   width: 7rem;
}
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active :focus {
  border-top: 0.1875rem solid var(--primary-lightBlue);
}
.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-lightBlue);
}

/*===>> Header <===*/
.Header-wraper {
  position: relative;
  background: url(background-black-colors.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
.main-info {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

/* ===>  typed_text <====*/
.typed_text {
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--primary-white);
}
@media (max-width: 760px) {
  .typed_text {
    font-size: 1.3rem;
  }
}

/* ===>  Contact Button  <====*/
.Contact-Button {
  border: 1px solid var(--primary-lightBlue);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin-top: 2rem;
}
.Contact-Button:hover {
  text-decoration: none;
  background-color: var(--primary-black);
  transition: 0.2s ease-in-out;
}

/* ===>  particles js  <====*/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 760px) {
  .particles_canvas {
    display: none;
  }
}


/* ===>  About <====*/
.about-Me-img-Wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;

}
.profile-img {
width: 16rem;
border-radius: 50%;
padding: 0.3rem ;
border: 5px solid var(--primary-lightBlue);
}
.About-Heading {
  color: var(--primary-black);
  text-transform: uppercase;
}
@media(max-width: 468px){
  .profile-img{
    width: 10rem;
  }
}